#container {
  width: 70%;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

td, th {
  padding: 3px;
}

table.woBorder, td.woBorder {
  border: none;
}