<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>resultlist</title>
</head>
<body>

  <div id="resultlist" th:fragment="resultlist" th:unless="${#lists.isEmpty(resultList)}">
    <h4>Результаты проверки решений</h4>
    <table border="1px">
      <thead>
        <tr>
          <th>#</th>
          <th>Дата</th>
          <th>Язык</th>
          <th>Результат проверки</th>
          <th>№ теста</th>
          <th>Время работы</th>
          <th>Выделено памяти</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="result : ${resultList}">
          <td>
            <a th:href="@{/result/__${result.id}__}" th:text="${result.id}"></a>
          </td>
          <td th:text="${result.timestamp}"></td>
          <td th:text="${result.langName}"></td>
          <td th:text="${result.verdict}"></td>
          <td th:text="${result.testNumber}"></td>
          <td th:text="${result.runtime}"></td>
          <td th:text="${result.memory}"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="errorlist" th:fragment="errorlist" th:unless="${#lists.isEmpty(errorList)}" style="color:red">
    <h4>Что-то пошло не так:</h4>
    <table class="errorlist">
      <tr th:each="error : ${errorList}">
        <td class="errorlist" th:text="${error}"></td>
      </tr>
    </table>
  </div>

</body>
</html>