<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>task</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script th:src="@{/js/checker.js}"></script>
</head>
<body>
  <input id="taskId" type="hidden" th:value="${task.id}"/>
  <h2 th:text="${task.name}">Задание 1</h2>
  <p th:utext="${task.description}">Описание задания</p>
  <h4>Исходные данные</h4>
  <p th:utext="${task.initialData}">Описание исходных данных</p>
  <h4>Результат</h4>
  <p th:utext="${task.result}">Описание результата</p>
  <h4>Пример</h4>
  <table border="1">
    <thead>
      <tr>
        <th>Исходные данные</th>
        <th>Результат</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!--<td>-->
          <!--<pre th:utext="${task.exampleInitialData}"/>-->
        <!--</td>-->
        <!--<td>-->
          <!--<pre th:utext="${task.exampleResult}"/>-->
        <!--</td>-->
        <td th:utext="${task.exampleInitialData}">0</td>
        <td th:utext="${task.exampleResult}">1</td>
      </tr>
    </tbody>
  </table>


          
  <p>TOKEN:</p>
  <input id="token" type="text" size="100"/>
  <p>Исходный код решения (не более 64 КБ):</p>
  <textarea id="sourceCode" rows="10" cols="100"></textarea>
  <br/>
  <br/>
  <input type="submit" value="Отправить" onclick="sendSolution()"/>

  <h4>Результаты проверки решений</h4>
  <div id="resultBlock">

  </div>
</body>
</html>