<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title th:text="${task.name}">task</title>
  <link th:href="@{/css/checker.css}" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script th:inline="javascript">
    function submitResult() {
      var submitData = {taskId: $("#taskId").val(), langId: $("#langId").val(), token: $("#token").val(),
        sourceCode: $("#sourceCode").val()};

      $.ajax({
        type:"POST",
        contentType: "application/json",
        url: /*[[@{/submit-result}]]*/ null,
        data: JSON.stringify(submitData),
        dataType: 'html',
        success: function(responseText) {
          $("#errorBlock").empty();
          var html = $.parseHTML(responseText)[0];
          if (html["id"] == "resultlist") {
            $("#sourceCode").val("");
            $("#resultBlock").html(responseText);
          }
          if (html["id"] == "errorlist")
            $("#errorBlock").html(responseText);
        },
        error: function(jqXHR) {
          $("#errorBlock").html(
              '<h4>Что-то пошло не так:</h4>' +
              '<table class="woBorder">' +
              ' <tr>' +
              '   <td class="woBorder">Ошибка при получении ответа отсервера (HTTP код ' + jqXHR.status + '), повторите попытку или обратиесть к администратору системы</td>' +
              ' </tr>' +
              '</table>'
          );
        }
      });
    }

    function refreshResultList() {
      var refreshData = {taskId: $("#taskId").val(), token: $("#token").val()};

      $.ajax({
        type:"POST",
        contentType: "application/json",
        url: /*[[@{/refreshResultList}]]*/ null,
        data: JSON.stringify(refreshData),
        dataType: 'html',
        success: function(responseText) {
          $("#errorBlock").empty();
          var html = $.parseHTML(responseText)[0];
          if (html["id"] == "resultlist") {
            $("#resultBlock").html(responseText);
          }
          if (html["id"] == "errorlist")
            $("#errorBlock").html(responseText);
        },
        error: function(jqXHR) {
          $("#errorBlock").html(
              '<h4>Что-то пошло не так:</h4>' +
              '<table class="woBorder">' +
              ' <tr>' +
              '   <td class="woBorder">Ошибка при получении ответа от сервера (HTTP код ' + jqXHR.status + '), повторите попытку или обратиесть к администратору системы</td>' +
              ' </tr>' +
              '</table>'
          );
        }
      });
    }
  </script>
</head>
<body>
  <div id="container">
    <input id="taskId" type="hidden" th:value="${task.id}"/>
    <h2 th:unless="${#strings.isEmpty(task.name)}" th:text="${task.name}">Задание 1</h2>
    <p th:unless="${#strings.isEmpty(task.description)}" th:utext="${task.description}">Описание задания</p>
    <h4 th:unless="${#strings.isEmpty(task.initialData)}">Исходные данные</h4>
    <p th:unless="${#strings.isEmpty(task.initialData)}" th:utext="${task.initialData}">Описание исходных данных</p>
    <h4 th:unless="${#strings.isEmpty(task.result)}">Результат</h4>
    <p th:unless="${#strings.isEmpty(task.result)}" th:utext="${task.result}">Описание результата</p>
    <h4 th:unless="${#strings.isEmpty(task.exampleInitialData)}">Пример</h4>
    <table th:unless="${#strings.isEmpty(task.exampleInitialData)}">
      <thead>
        <tr>
          <th>Исходные данные</th>
          <th>Результат</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:utext="${task.exampleInitialData}">0</td>
          <td th:utext="${task.exampleResult}">1</td>
        </tr>
      </tbody>
    </table>



    <p>Токен команды:</p>
    <input id="token" type="text" size="50" width="100%"/>
    <p>Язык:</p>
    <select id="langId">
      <option th:each="lang : ${langList}"
              th:value="${lang.id}"
              th:text="${lang.name}"></option>
    </select>
    <p>Исходный код решения (не более 64 КБ):</p>
    <textarea id="sourceCode" rows="10" cols="100"></textarea>
    <br/>
    <br/>
    <input type="submit" value="Отправить" onclick="submitResult()"/>
    <input type="submit" value="Обновить результаты" onclick="refreshResultList()"/>

    <div id="errorBlock" style="color:red">
    </div>

    <div id="resultBlock">
    </div>
  </div>
</body>
</html>