<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>tasklist</title>
</head>
<body>
 
<table th:each="task : ${taskList}">
  <tr>
    <td>
      <h3 th:text="${task.name}">Задание 1</h3>
      <p th:utext="${task.description}">Описание задания</p>
      <a th:href="@{/tasklist/__${task.id}__}">Подробнее</a>
    </td>
  </tr>
  <tr th:remove="all">
    <td>
      <h3 th:text="${task.name}">Задание 2</h3>
      <p th:utext="${task.description}">Описание задания</p>
      <a th:href="@{/tasklist/__${task.id}__}">Подробнее</a>
    </td>
  </tr>
</table>

</body>
</html>