<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>task_test</title>
  <link th:href="@{/css/checker.css}" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div id="container">
  <h2 th:text="${task.name}">Задание 1</h2>
  <p th:utext="${task.description}">Описание задания</p>
  <h4>Исходные данные</h4>
  <p th:utext="${task.initialData}">Описание исходных данных</p>
  <h4>Результат</h4>
  <p th:utext="${task.result}">Описание результата</p>
  <h4>Пример</h4>
  <table>
    <thead>
    <tr>
      <th>Исходные данные</th>
      <th>Результат</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:utext="${task.exampleInitialData}">0</td>
      <td th:utext="${task.exampleResult}">1</td>
    </tr>
    </tbody>
  </table>



  <form action="#" th:action="@{/test-submit-result}" th:object="${testRequestData}" method="post">
    <input th:field="*{taskId}" id="taskId" type="hidden"/>
    <p>Token:</p>
    <input th:field="*{token}" id="token" type="text" size="50" width="100%"/>
    <p>Test case:</p>
    <textarea th:field="*{testCase}" id="sourceCode" rows="10" cols="100"/>
    <br/>
    <input type="submit" value="Запустить"/>
  </form>

  <div id="errorBlock" style="color:red">
  </div>

  <div id="resultBlock">
  </div>
</div>
</body>
</html>