<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>task_test</title>
  <link th:href="@{/css/checker.css}" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    function refreshTestCaseList(event) {
      var resultId = event.target.id.substring("testVerdictList".length, event.target.id.length);
      $("#resultIdWithVerdict").val(resultId);
      $("input[name='refresh']")[0].click();
    }

    function deleteTestCase(event) {
      if (confirm("Удалить test case?")) {
        var deleteId = event.target.id.substring("deleteTestCase".length, event.target.id.length);
        $("#deleteId").val(deleteId);
        $("#testCaseSubmitForm").submit(function(event) {
          $("<input/>").attr("type", "hidden").attr("name", "delete")
              .appendTo("#testCaseSubmitForm");
          return true;
        });
      } else {
        event.preventDefault();
      }
    }
  </script>
</head>
<body>
<div id="container">
  <a th:href="@{/test-tasklist}">Вернуться к списку задач</a>
  <h2 th:text="${task.name}">Задание 1</h2>
  <p th:utext="${task.description}">Описание задания</p>
  <h4>Исходные данные</h4>
  <p th:utext="${task.initialData}">Описание исходных данных</p>
  <h4>Результат</h4>
  <p th:utext="${task.result}">Описание результата</p>
  <h4>Пример</h4>
  <table>
    <thead>
    <tr>
      <th>Исходные данные</th>
      <th>Результат</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:utext="${task.exampleInitialData}">0</td>
      <td th:utext="${task.exampleResult}">1</td>
    </tr>
    </tbody>
  </table>



  <form id="testCaseSubmitForm" action="#" th:action="@{/test-tasklist/__${id}__}" th:object="${testCase}" method="post">
    <input th:field="*{resultIdWithVerdict}" id="resultIdWithVerdict" hidden="true"/>
    <input th:field="*{deleteId}" id="deleteId" hidden="true"/>
    <p>Token:</p>
    <input th:field="*{token}" id="token" type="text" size="50" width="100%"/>
    <p th:if="${#fields.hasErrors('token')}" th:errors="*{token}" style="color: red">Token Error</p>
    <p>Test case:</p>
    <textarea th:field="*{input}" id="testCase" rows="10" cols="100"></textarea>
    <p th:if="${#fields.hasErrors('input')}" th:errors="*{input}" style="color: red">Input Error</p>
    <br/>
    <input type="submit" name="add" value="Добавить"/>
    <br/>
    <br/>
    <input type="submit" name="refresh" value="Обновить таблицу"/>

    <br/>
    <br/>

    <table th:unless="${#lists.isEmpty(resultList)}">
      <thead>
        <tr>
          <th></th>
          <th>Test cases</th>
          <th th:each="result : ${resultList}" th:text="${'Решение #' + result.id}">
            Решение 1
          </th>
        </tr>
        <tr>
          <th></th>
          <th>Вердикт</th>
          <th th:each="result : ${resultList}">
            <select th:field="*{testVerdictList[__${result.id}__]}" onchange="refreshTestCaseList(event);">
              <option value=""></option>
              <option value="0">Неверное решение</option>
              <option value="1">Верное решение</option>
            </select>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="testCase : ${testCaseList}">
          <td>
            <button title="Удалить" style="background: lightcoral" th:id="${'deleteTestCase' + testCase.id}" onclick="deleteTestCase(event);">-</button>
          </td>
          <td>
            <pre th:utext="${testCase.input}"></pre>
          </td>
          <td th:each="result : ${resultList}">
            <pre th:utext="${testCase.resultList[__${result.id}__]?.output}"></pre>
          </td>
        </tr>
      </tbody>
    </table>

    <p th:if="${#lists.isEmpty(resultList)}">Для данной задачи нет решений <img th:src="@{/img/no_results.gif}"/></p>
  </form>

  <div id="errorBlock" style="color:red">
  </div>

  <div id="resultBlock">
  </div>
</div>
</body>
</html>